// _colors.scss

// Light theme colors - Default theme
$light-background-color: white;       
$light-primary-color: #3498db;          
$light-secondary-color: green;          
$light-button-primary-color: #262626;   
$light-button-text-color: #d87946;      
$light-border-color: brown;                
$light-card-color: grey;            
$light-font-color: black;             

// Dark theme colors
$dark-background-color: black;          
$dark-primary-color: white;
$dark-secondary-color: green;
$dark-button-primary-color: darkorange;
$dark-button-text-color: black;
$dark-border-color: brown;
$dark-card-color: grey;
$dark-font-color: white;                

// CSS variables defined 
:root {
  --background-color: #{$light-background-color};
  --primary-color: #{$light-primary-color};
  --secondary-color: #{$light-secondary-color};
  --button-primary-color: #{$light-button-primary-color};
  --button-text-color: #{$light-button-text-color};
  --border-color: #{$light-border-color};
  --card-color: #{$light-card-color};
  --font-color: #{$light-font-color};
}

[data-theme='dark'] {
  --background-color: #{$dark-background-color};
  --primary-color: #{$dark-primary-color};
  --secondary-color: #{$dark-secondary-color};
  --button-primary-color: #{$dark-button-primary-color};
  --button-text-color: #{$dark-button-text-color};
  --border-color: #{$dark-border-color};
  --card-color: #{$dark-card-color};
  --font-color: #{$dark-font-color};
}
